.page-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  border-radius: 12px;
  border: 1px solid black;
  padding: 18px;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

p {
  padding: 0px;
}

.button-start {
  padding: 12px;
  background-color: #7f8c8d;
  box-shadow: 2.5px 4.5px 0px 2px #707b7c;
  color: white;
  border: none;
  width: 7.5em;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  padding: 12px;
  color: white;
  border: none;
  width: 7.5em;
  border-radius: 5px;
  cursor: pointer;
}

.difficulty-easy {
  background-color: #2ecc71;
  box-shadow: 2.5px 4.5px 0px 2px #28b463;
}

.difficulty-normal {
  background-color: #f1c40f;
  box-shadow: 2.5px 4.5px 0px 2px #d4ac0d;
}

.difficulty-hard {
  background-color: #e74c3c;
  box-shadow: 2.5px 4.5px 0px 2px #cb4335;
}

.difficulty-extreme {
  background-color: #8e44ad;
  box-shadow: 2.5px 4.5px 0px 2px #7d3c98;
}
